.page-header {
    position: relative;
    padding: 10px 0;
    font-size: 14px;
    transition: background-color $trans-default;

    &.nav-is-open {
        @include media($vp-tablet) {
            color: $color-white;
            background-color: $color-black;
        }
    }
}
